
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
	font-family: "メイリオ", Meiryo, Osaka, sans-serif;
	line-height: 1.5;
	font-size: 14px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

.header_logo {
	width: 140px;
	height:100px;
	background-image:
	url(../img/header_logo.png);
 background-size: cover;
}


/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
/*box1
